News:GOOD
Categories:meta,example
Headline:WOW!
Link:https://www.example.com
This website was just created! Well, technically, it wasn't as I'm only typing down this fileformat example, but the webiste is in my mind and the idea is set, so you could say that the website was created.
Also, I'm writing this for the second time now, as I lost the first attempt due to a glichty behaviour of vim and the macOS terminal in combination.
